<div class="container">
  <h2> Welcome <%= @user.name %> </h2>

<%  @user.rounds.each do |round| %>
<h3>  <a href='/decks/<%= round.deck.id%>'><%= round.deck.name%></a> </h3>
  <table>
    <thead>
      <th> Cards in deck </th>
      <th> First Guess Correct </th>
      <th> Total Guesses </th>
    </thead>
    <tr>
      <td><%=round.deck.cards.count%></td>
      <td><%=round.number_of_correct_first_guesses%> </td>
      <td> <%= round.guesses.count %> </td>
    </tr>
  </table>
  <br>
  <% end %>

</div>
